.headerContainer{
  font-family: var(--font-inter);
}
.segmentIcon {
  width: 30px;
  height: 30px;
}
.segmentWrapper {
  border-radius: 60px;
  background-color: var(--secondary-5);
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
.frameGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.headerWrapper,
.laptopIconWrapper {
  background-color: var(--text-white);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.headerWrapper {
  width:min(380px,395px);
  height: 50px;
  padding: 0 15px;
  justify-content: space-between;
}
.myAssessmentsWrapper,
.unstopAssessmentsWrapper {
  flex: 1;
  background-color: var(--text-white);
  border-bottom: 2px solid var(--secondary-1);
  height: 50px;
  display: flex;
  flex-direction: row;
  padding: 10px 0;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
.unstopAssessmentsWrapper {
  border-bottom: 2px solid var(--system-background);
  color: var(--text-85);
}
.navContainer {
  align-self: stretch;
  display: flex;
}

